.midlogo {
    width: 50px;
    display: block;
    margin: 20px auto;
}

#Hoodies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
}

#Hoodies img {
    width: 400px;
}

body{
    background-color: burlywood;
}

header{
    background-color: black;
}